[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-smorest = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"
